<div class="about-section">
  <div class="row">
    <div class="col-md-6">
      <h2 class="h2 fw-light mb-4">About Me</h2>
      <div class="text-justify" [innerHTML]="introduce"></div>
    </div>
    <div class="col-md-5 offset-lg-1">
      <div class="row mt-2">
        <h2 class="h2 fw-light mb-4">Bio</h2>
        <ng-template [ngIf]="about">
          <ng-template ngFor let-info [ngForOf]="about">
            <div class="col-sm-5">
              <div class="pb-2 fw-bolder">
                <i
                  class="far fa-calendar-alt pe-2 text-muted"
                  style="width: 24px; opacity: 0.85"
                ></i>
                {{ info.title }}
              </div>
            </div>
            <div class="col-sm-7 offset-1 offset-sm-0">
              <div class="pb-2">{{ info.content }}</div>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>
