<div class="experience-section">
  <h2 class="h2 fw-light text mb-4">Experience</h2>
  <div *ngIf="experience.length" class="row">
    <ng-template ngFor let-item let-first="first" [ngForOf]="experience">
      <div class="card-info col-md-6 col-xl-4 mt-3">
        <div class="time-tag d-inline-block border px-1" [class.active]="first">{{ item.time }}</div>
        <div class="mt-2">
          <h5 class="mb-1">
            <strong>{{ item.role }}</strong>
          </h5>
          <div class="text-muted">
            <fa-icon [icon]="faLocationDot"></fa-icon
            ><span class="ms-2">{{ item.location }}</span>
          </div>
        </div>
        <div class="mt-2 text-justify white-space-line">
          <p>{{ item.description }}</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
