<div class="container">
  <div class="resume-container">
    <div class="bg-white my-5">
      <div class="bg-info text-white">
        <div class="cover bg-image">
          <img src="assets/images/header-background.jpg" />
          <div class="mask">
            <div class="text-center p-5">
              <div class="p-1">
                <img
                  class="img-thumbnail"
                  src="assets/images/avatar.jpg"
                  width="160"
                  height="160"
                />
              </div>
              <div class="mt-3">
                <div data-aos="zoom-in" data-aos-delay="0">
                  <h2 class="h1">Tan Pham</h2>
                  <p>.NET Developer and DevOps Engineer</p>
                </div>
                <div
                  class="header-social mb-3 d-print-none"
                  data-aos="zoom-in"
                  data-aos-delay="200"
                >
                  <app-contact></app-contact>
                </div>
                <div>
                  <a
                    class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3"
                    href="material-resume.pdf"
                    data-aos="fade-right"
                    data-aos-delay="700"
                    >Download CV</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
